@import 'style.less';
@import 'highlight.less';

.footer {
    padding: 18px 0;
    text-align: right;
    a {
        margin: 0 10px;
    }
    .fa-github {
        font-size: 18px;
        vertical-align: middle;
    }
}
