@import '../../node_modules/rsuite-theme/dist/less/rsuite.less';
@import "../../node_modules/markdownloader/less/highlight.less";
@import '~rsuite-docs/lib/less/index.less';

@base-color: #3385ff;
.buttons-list{
  list-style: none;
  li{
    margin-right: 5px;
    display: inline-block;
  }
}
