@color-notification-error-bg: #f2dede;
@color-notification-error-font: #a94442;
@color-notification-success-bg: #dff0d8;
@color-notification-success-font: #3c763d;
@color-notification-warning-bg: #fcf8e3;
@color-notification-warning-font: #a66d3b;
@color-notification-info-bg: #d9edf7;
@color-notification-info-font: #31708f;
@notificationPrefixCls: rs-notification;

.@{notificationPrefixCls} {
  position: fixed;
  z-index: 9999;
  &-alert {
    left: 50%;
    .@{notificationPrefixCls}-notice {
      right: 50%;
    }
  }
  &-notify {
  }
  &-content {
    width: 320px;
    text-align: left;
  }
  &-title {
    font-size: 16px;
  }
  &-description {
    padding: 5px 0;
  }
  &-notice-wrapper {
    text-align: center;
  }
  &-notice {
    padding: 10px 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.28) !important;
    background: #fff;
    display: inline-block;
    width: auto;
    line-height: 1.5;
    position: relative;
    margin: 5px;
    &-content {
      padding: 0 10px 0 5px;
    }

    &-closable {
      padding-right: 20px;
    }

    &-close {
      position: absolute;
      right: 5px;
      top: 3px;
      cursor: pointer;
      outline: none;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      text-shadow: 0 1px 0 #fff;
      filter: alpha(opacity=20);
      opacity: 0.2;
      text-decoration: none;

      &-x:after {
        content: '×';
      }
    }
  }
  &-info {
    background-color: @color-notification-info-bg;
    .@{notificationPrefixCls}-notice-content {
      color: @color-notification-info-font;
    }
  }

  &-error {
    background-color: @color-notification-error-bg;
    .@{notificationPrefixCls}-notice-content {
      color: @color-notification-error-font;
    }
  }

  &-success {
    background-color: @color-notification-success-bg;
    .@{notificationPrefixCls}-notice-content {
      color: @color-notification-success-font;
    }
  }

  &-warning {
    background-color: @color-notification-warning-bg;
    .@{notificationPrefixCls}-notice-content {
      color: @color-notification-warning-font;
    }
  }
}
