@color-notification-error-bg:#f2dede;
@color-notification-error-font:#a94442;
@color-notification-success-bg:#dff0d8;
@color-notification-success-font:#3c763d;
@color-notification-warning-bg:#fcf8e3;
@color-notification-warning-font:#a66d3b;
@color-notification-info-bg:#d9edf7;
@color-notification-info-font:#31708f;
@notificationPrefixCls: rsuite-notification;

.@{notificationPrefixCls} {
  position: fixed;
  z-index: 1000;
  &-notification{
    width: 320px;
  }
  &-notice {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.28) !important;
    padding: 10px 20px;
    border: 0px solid rgba(0, 0, 0, 0);
    background: #fff;
    display: block;
    vertical-align: middle;
    position: relative;
    right: 50%;
    margin: 10px;
    &-content{
      padding: 0 10px 0 5px;
    }

    &-closable {
      padding-right: 20px;
    }

    &-close {
      position: absolute;
      right: 5px;
      top: 3px;
      cursor: pointer;
      outline: none;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      text-shadow: 0 1px 0 #fff;
      filter: alpha(opacity=20);
      opacity: .2;
      text-decoration: none;

      &-x:after {
        content: '×';
      }
    }
  }
  &-notice.move-up-leave.move-up-leave-active {
    animation-name: fadeInDownBig;
    animation-duration: 1s;
  }
    &-info{
        background-color: @color-notification-info-bg ;
        .@{notificationPrefixCls}-title{
          color: @color-notification-info-font ;
        }
    }

    &-error{
        background-color: @color-notification-error-bg;
        .@{notificationPrefixCls}-title{
          color: @color-notification-error-font;
        }
    }

    &-success{
        background-color: @color-notification-success-bg ;
        .@{notificationPrefixCls}-title{
          color: @color-notification-success-font;
        }
    }

    &-info{
        background-color: @color-notification-info-bg;
        .@{notificationPrefixCls}-title{
          color: @color-notification-info-font;
        }
    }
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
